.locations {
	padding: 0;
	margin: 0;
}

.locations li {
	list-style-type: none;
}

.location {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #00aea1;
}

.location:first-child {
	border-top: 1px none;
}

.terminal {
	display: inline-block;
	width: 40px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}

.T1 {
	background-color: #674575 !important
}

.T2 {
	background-color: #ef4352 !important
}

.T3 {
	background-color: #00aea1 !important
}

.pin {
	max-width: 30px;
	max-height: 30px;
	float: right
}

.btn-small {
	max-width: 30px;
	max-height: 30px;
	margin: 7px 0px 0px 5px;
}

h1, .h1,
h2, .h2,
h3, .h3 
{
  margin-top: 5px;
  margin-bottom: 10px; 
}

@media screen and (min-width: 768px) {
	.location {
		margin-left: 0;
    	margin-right: 0;
	}
} 